<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новая книга</title>
</head>
<body>

<form th:method="POST" th:action="@{/books}" th:object="${book}">
    <label for="name">Название</label>
    <input type="text" th:field="*{name}" id="name">
    <br>
    <label for="author">Автор</label>
    <input type="text" th:field="*{author}" id="author">
    <br>
    <label for="year">Год написания</label>
    <input type="text" th:field="*{year}" id="year">
    <br>
    <input type="submit" value="Добавить">
</form>

</body>
</html>